@use "./utils/variables" as *;
@import "./components/reset";
@import "./components/container";
@import "./components/header";
@import "./components/modal";
@import "./components/clients";
@import "./components/doing";
@import "./components/effects";
@import "./components/strength";
@import "./components/team";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/footer-newsletter";
@import "./components/footer-join-us";
