.clients__title {
  font-weight: 700;
  font-size: $fontsize-title;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  gap: 30px;
}
.clients__icon {
  fill: currentColor;
}
.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $icon-color;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: $trans-color;
}

.clients__link:hover,
.clients__link:focus {
  color: $accent-color;
}
