.doing {
  padding-top: 0;

  &__title {
    font-weight: 700;
    font-size: $fontsize-title;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.doing-list {
  display: flex;
  gap: 30px;
  justify-content: center;

  &__img:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    position: relative;
  }

  &__img-title {
    position: absolute;
    z-index: 0;
    bottom: 0;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
