.effects {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/effects-background.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondary-text-color;
    max-width: 696px;
    margin: 0 auto;
  }
  &__button:focus,
  &__button:hover {
    color: none;
  }
  &__button {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: $fontsize-bigger;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
    background: $accent-color;
    cursor: pointer;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px 10px 42px;
    margin: 0 auto;
    margin-top: 30px;
    transition: $trans-color;
  }
}
