.footer {
  background-color: $background-footer-color;
  font-style: normal;
  padding: 60px 0;

  &__wrapper {
    display: flex;
    align-items: baseline;
  }
  &__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin-bottom: 20px;
  }
  &__logo--accent {
    color: $accent-color;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
  &__link {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    transition: $trans-color;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__mail:hover,
  &__mail:focus {
    color: $accent-color;
  }
  &__tel:hover,
  &__tel:focus {
    color: $accent-color;
  }
  &__mail,
  &__tel {
    @extend .address_link !optional;
    color: $footer-text-color;
  }
}
