.newsletter {
  margin-left: 78px;

  &__label {
    display: flex;
  }
  &__input {
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: $background-footer-color;
    border-radius: 4px;
    padding-left: 16px;
    font-weight: 400;
    font-size: $fontsize-bigger;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: $footer-text-color;
    transition: $trans-border;
  }
  &__button {
    position: relative;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: $fontsize-bigger;
    line-height: 1.9;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    padding-left: 42px;
  }
  &icon {
    margin-left: 24px;
  }
  &__input:hover,
  &__input:focus {
    border: 1px solid $accent-color;
  }
}
