.join-field {
  margin-left: 70px;

  &__title {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 20px;
    align-items: baseline;
  }
}
.join-list {
  display: flex;
  gap: 10px;
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-text-color;
    border: 1px solid transparent;
    background-color: $background-footer-color;
    border-radius: 50%;
    transition: $trans-color, $trans-backgroundcolor;
  }
  &__link:focus,
  &__link:hover {
    fill: $secondary-text-color;
    background-color: $accent-color;
  }
}
