.newsletter {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  @include desktop {
    margin-left: 70px;
    margin-top: 30px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      flex-direction: row;
      align-items: baseline;
    }
  }
  &__input {
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: $background-footer-color;
    border-radius: 4px;
    padding-left: 16px;
    font-weight: 400;
    font-size: $fontsize-bigger;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: $footer-text-color;
    transition: $trans-border;
    &::placeholder {
      font-size: $fontsize-bigger;
      line-height: 1.25;
      letter-spacing: 0.03em;
    }
  }
  &__button {
    position: relative;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: $fontsize-bigger;
    line-height: 1.9;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 28px;

    @include desktop {
      margin-left: 12px;
    }
  }
  &icon {
    margin-left: 24px;
  }
  &__input:hover,
  &__input:focus {
    border: 1px solid $accent-color;
  }
}
