.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  transform: scale;
  visibility: visible;
}
.modal {
  width: 528px;
  height: 581px;
  z-index: 2;
  position: absolute;
  background-color: $background-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    top: 8px;
    right: 8px;
    background-color: $background-color;
    border: 1px solid $other-text-color;
    border-radius: 50%;
    position: absolute;
  }
  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button {
    width: 200px;
    height: 50px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: $fontsize-bigger;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-bottom: 12px;
}
.label {
  display: block;
  margin-bottom: 10px;
}
.modal__input:focus + .name__icon,
.modal__input:hover + .name__icon {
  fill: $accent-color;
}
.modal__input:focus,
.modal__input:hover {
  border: 1px solid $accent-color;
}
.name {
  display: block;
  margin-bottom: 10px;
  &__user {
    position: relative;
  }
  &__title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $other-text-color;
    margin-bottom: 4px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border: none;
    fill: currentColor;
    transition: $trans-fill;
  }
}
.feedback {
  display: block;
  margin-bottom: 20px;
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 448px;
    height: 120px;
    background: $background-color;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0 auto;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding: 12px 16px;
    outline: transparent;
    transition: $trans-border;
  }
  &__text::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &__text:focus-within,
  &__text:hover {
    border: 1px solid $accent-color;
  }
}
.textarea {
  padding: 12px 16px;
  font-family: inherit;
  font-size: inherit;
}
.option {
  display: block;
  position: relative;
  left: 12px;
}
/* Check */

.check {
  padding-left: 30px;
  margin-bottom: 30px;

  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  &__box {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 16px;
    height: 15px;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: $background-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em #4a90e2;
  }
  &__regulations {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $other-text-color;
  }
}

/* Checked */

.check__input:checked + .check__box {
  background-color: #4a90e2;
  background-image: url(../images/icon-checked.svg);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #4a90e2, 0 0 0 0.2em #7ed321;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}
.check__link--accents {
  color: getColor("accent-color");
  text-decoration: underline;
}
