.portfolio__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: $fontsize-bigger;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: $background-portfolio;
  border-radius: 4px;
  padding: 6px 22px;
  transition: $trans-color, $trans-backgroundcolor, $trans-shadow;
}
.portfolio__button:hover,
.portfolio__button:focus {
  background-color: $accent-color;
  color: $secondary-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  &__link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__link {
    display: block;
    transition: $trans-shadow;
  }
}
.portfolio-img-list__link:hover .overlay,
.portfolio-img-list__link:focus .overlay {
  transform: translatey(0);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: translatey(100%);
  transition: $trans-transform;
}
.overlay p {
  color: $secondary-text-color;
  padding: 56px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: $accent-color;
}

.term {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: 0;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__text {
    font-size: $fontsize-bigger;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $other-text-color;
  }
}
