h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: roboto, sans-serif;
  color: $main-text-color;
  background-color: $background-color;
  font-size: $fontsize-normal;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
svg {
  fill: currentColor;
}
