.strengths {
  padding-bottom: 0;

  &__list {
    display: flex;
    gap: 30px;
    margin-bottom: 94px;
  }
  &__item {
    width: 270px;
  }
  &__icons {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: $background-strengths-color;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $other-text-color;
    width: 270px;
  }
  &__text:not(:last-child) {
    margin-right: 30px;
  }
}
